        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="array-cache-adapter">
    Array Cache Adapter
    <a class="headerlink" href="#array-cache-adapter" title="Permalink to this headline">¶</a>
</h1>
<p>Generally, this adapter is useful for testing purposes, as its contents are stored in memory
and not persisted outside the running PHP process in any way. It can also be useful while
warming up caches, due to the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Cache/Adapter/ArrayAdapter.php#method_getValues" class="reference external" title="Symfony\Component\Cache\Adapter\ArrayAdapter::getValues()" rel="external noopener noreferrer" target="_blank">getValues()</a>
method:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Cache</span>\<span class="hljs-title">Adapter</span>\<span class="hljs-title">ArrayAdapter</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>cache</span> = <span class="hljs-keyword">new</span> ArrayAdapter(

    <span class="hljs-comment">// the default lifetime (in seconds) for cache items that do not define their</span>
    <span class="hljs-comment">// own lifetime, with a value 0 causing items to be stored indefinitely (i.e.</span>
    <span class="hljs-comment">// until the current PHP process finishes)</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>defaultLifetime</span> = <span class="hljs-number">0</span>,

    <span class="hljs-comment">// if ``true``, the values saved in the cache are serialized before storing them</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>storeSerialized</span> = <span class="hljs-keyword">true</span>,

    <span class="hljs-comment">// the maximum lifetime (in seconds) of the entire cache (after this time, the</span>
    <span class="hljs-comment">// entire cache is deleted to avoid stale data from consuming memory)</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>maxLifetime</span> = <span class="hljs-number">0</span>,

    <span class="hljs-comment">// the maximum number of items that can be stored in the cache. When the limit</span>
    <span class="hljs-comment">// is reached, cache follows the LRU model (least recently used items are deleted)</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>maxItems</span> = <span class="hljs-number">0</span>
);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>