        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="proxy-cache-adapter">
    Proxy Cache Adapter
    <a class="headerlink" href="#proxy-cache-adapter" title="Permalink to this headline">¶</a>
</h1>
<p>This adapter wraps a <a href="https://www.php-fig.org/psr/psr-6/" class="reference external" rel="external noopener noreferrer" target="_blank">PSR-6</a> compliant <a href="https://www.php-fig.org/psr/psr-6/#cacheitempoolinterface" class="reference external" rel="external noopener noreferrer" target="_blank">cache item pool interface</a>. It is used to integrate
your application's cache item pool implementation with the Symfony <a href="../../../components/cache.html#cache-component" class="reference internal">Cache Component</a>
by consuming any implementation of <code translate="no" class="notranslate">Psr\Cache\CacheItemPoolInterface</code>.</p>
<p>It can also be used to prefix all keys automatically before storing items in the decorated pool,
effectively allowing the creation of several namespaced pools out of a single one.</p>
<p>This adapter expects a <code translate="no" class="notranslate">Psr\Cache\CacheItemPoolInterface</code> instance as its first parameter,
and optionally a namespace and default cache lifetime as its second and third parameters:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Psr</span>\<span class="hljs-title">Cache</span>\<span class="hljs-title">CacheItemPoolInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Cache</span>\<span class="hljs-title">Adapter</span>\<span class="hljs-title">ProxyAdapter</span>;

<span class="hljs-comment">// create your own cache pool instance that implements</span>
<span class="hljs-comment">// the PSR-6 CacheItemPoolInterface</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>psr6CachePool</span> = ...

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>cache</span> = <span class="hljs-keyword">new</span> ProxyAdapter(

    <span class="hljs-comment">// a cache pool instance</span>
    CacheItemPoolInterface <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>psr6CachePool</span>,

    <span class="hljs-comment">// a string prefixed to the keys of the items stored in this cache</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>namespace</span> = <span class="hljs-string">''</span>,

    <span class="hljs-comment">// the default lifetime (in seconds) for cache items that do not define their</span>
    <span class="hljs-comment">// own lifetime, with a value 0 causing items to be stored indefinitely (i.e.</span>
    <span class="hljs-comment">// until the cache is cleared)</span>
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>defaultLifetime</span> = <span class="hljs-number">0</span>
);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>