        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="the-contracts-component">
    The Contracts Component
    <a class="headerlink" href="#the-contracts-component" title="Permalink to this headline">¶</a>
</h1>
<blockquote><p>The Contracts component provides a set of abstractions extracted out of the
Symfony components. They can be used to build on semantics that the Symfony
components proved useful - and that already have battle-tested implementations.</p>
</blockquote>
<div class="section">
<h2 id="installation">
    Installation
    <a class="headerlink" href="#installation" title="Permalink to this headline">¶</a>
</h2>
<p>Contracts are provided as separate packages, so you can install only the ones
your projects really need:</p>
<div translate="no" class="highlight-terminal highlight-bash notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs terminal bash"><span class="hljs-prompt">$ </span>composer require symfony/cache-contracts
<span class="hljs-prompt">$ </span>composer require symfony/event-dispatcher-contracts
<span class="hljs-prompt">$ </span>composer require symfony/deprecation-contracts
<span class="hljs-prompt">$ </span>composer require symfony/http-client-contracts
<span class="hljs-prompt">$ </span>composer require symfony/service-contracts
<span class="hljs-prompt">$ </span>composer require symfony/translation-contracts</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>If you install this component outside of a Symfony application, you must
require the <code translate="no" class="notranslate">vendor/autoload.php</code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a href="using_components.html" class="reference internal">this article</a> for more details.</p>
</div>
</div>
<div class="section">
<h2 id="usage">
    Usage
    <a class="headerlink" href="#usage" title="Permalink to this headline">¶</a>
</h2>
<p>The abstractions in this package are useful to achieve loose coupling and
interoperability. By using the provided interfaces as type hints, you are able
to reuse any implementations that match their contracts. It could be a Symfony
component, or another package provided by the PHP community at large.</p>
<p>Depending on their semantics, some interfaces can be combined with
<a href="../service_container/autowiring.html" class="reference internal">autowiring</a> to seamlessly inject a service
in your classes.</p>
<p>Others might be useful as labeling interfaces, to hint about a specific behavior
that can be enabled when using <a href="../service_container.html#services-autoconfigure" class="reference internal">autoconfiguration</a>
or manual <a href="../service_container/tags.html" class="reference internal">service tagging</a> (or any other means
provided by your framework.)</p>
</div>
<div class="section">
<h2 id="design-principles">
    Design Principles
    <a class="headerlink" href="#design-principles" title="Permalink to this headline">¶</a>
</h2>
<ul>
    <li>Contracts are split by domain, each into their own sub-namespaces;</li>
<li>Contracts are small and consistent sets of PHP interfaces, traits, normative
docblocks and reference test suites when applicable, ...;</li>
<li>Contracts must have a proven implementation to enter this repository;</li>
<li>Contracts must be backward compatible with existing Symfony components.</li>
</ul>
<p>Packages that implement specific contracts should list them in the <code translate="no" class="notranslate">provide</code>
section of their <code translate="no" class="notranslate">composer.json</code> file, using the <code translate="no" class="notranslate">symfony/*-implementation</code>
convention. For example:</p>
<div translate="no" class="highlight-javascript notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs javascript">{
    <span class="hljs-string">"..."</span>: <span class="hljs-string">"..."</span>,
    <span class="hljs-string">"provide"</span>: {
        <span class="hljs-string">"symfony/cache-implementation"</span>: <span class="hljs-string">"3.0"</span>
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="section">
<h2 id="frequently-asked-questions">
    Frequently Asked Questions
    <a class="headerlink" href="#frequently-asked-questions" title="Permalink to this headline">¶</a>
</h2>
<div class="section">
<h3 id="how-is-this-different-from-php-fig-s-psrs">
    How Is this Different From PHP-FIG's PSRs?
    <a class="headerlink" href="#how-is-this-different-from-php-fig-s-psrs" title="Permalink to this headline">¶</a>
</h3>
<p>When applicable, the provided contracts are built on top of <a href="https://www.php-fig.org/" class="reference external" rel="external noopener noreferrer" target="_blank">PHP-FIG</a>'s PSRs.
However, PHP-FIG has different goals and different processes. Symfony Contracts
focuses  on providing abstractions that are useful on their own while still
compatible with implementations provided by Symfony.</p>
</div>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>