        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="the-ldap-component">
    The Ldap Component
    <a class="headerlink" href="#the-ldap-component" title="Permalink to this headline">¶</a>
</h1>
<blockquote><p>The Ldap component provides a means to connect to an LDAP server (OpenLDAP or Active Directory).</p>
</blockquote>
<div class="section">
<h2 id="installation">
    Installation
    <a class="headerlink" href="#installation" title="Permalink to this headline">¶</a>
</h2>
<div translate="no" class="highlight-terminal highlight-bash notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs terminal bash"><span class="hljs-prompt">$ </span>composer require symfony/ldap</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>If you install this component outside of a Symfony application, you must
require the <code translate="no" class="notranslate">vendor/autoload.php</code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a href="using_components.html" class="reference internal">this article</a> for more details.</p>
</div>
</div>
<div class="section">
<h2 id="usage">
    Usage
    <a class="headerlink" href="#usage" title="Permalink to this headline">¶</a>
</h2>
<p>The <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Ldap.php" class="reference external" title="Symfony\Component\Ldap\Ldap" rel="external noopener noreferrer" target="_blank">Ldap</a> class provides methods to authenticate
and query against an LDAP server.</p>
<p>The <code translate="no" class="notranslate">Ldap</code> class uses an <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Adapter/AdapterInterface.php" class="reference external" title="Symfony\Component\Ldap\Adapter\AdapterInterface" rel="external noopener noreferrer" target="_blank">AdapterInterface</a>
to communicate with an LDAP server. The <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Adapter/ExtLdap/Adapter.php" class="reference external" title="Symfony\Component\Ldap\Adapter\ExtLdap\Adapter" rel="external noopener noreferrer" target="_blank">adapter</a>
for PHP's built-in LDAP extension, for example, can be configured using the
following options:</p>
<dl>
                        <dt><code translate="no" class="notranslate">host</code></dt>
        
        <dd>
                            IP or hostname of the LDAP server
                    </dd>
                        <dt><code translate="no" class="notranslate">port</code></dt>
        
        <dd>
                            Port used to access the LDAP server
                    </dd>
                        <dt><code translate="no" class="notranslate">version</code></dt>
        
        <dd>
                            The version of the LDAP protocol to use
                    </dd>
                        <dt><code translate="no" class="notranslate">encryption</code></dt>
        
        <dd>
                            The encryption protocol: <code translate="no" class="notranslate">ssl</code>, <code translate="no" class="notranslate">tls</code> or <code translate="no" class="notranslate">none</code> (default)
                    </dd>
                        <dt><code translate="no" class="notranslate">connection_string</code></dt>
        
        <dd>
                            You may use this option instead of <code translate="no" class="notranslate">host</code> and <code translate="no" class="notranslate">port</code> to connect to the
LDAP server
                    </dd>
                        <dt><code translate="no" class="notranslate">optReferrals</code></dt>
        
        <dd>
                            Specifies whether to automatically follow referrals returned by the LDAP server
                    </dd>
                        <dt><code translate="no" class="notranslate">options</code></dt>
        
        <dd>
                            LDAP server's options as defined in
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Adapter/ExtLdap/ConnectionOptions.php" class="reference external" title="Symfony\Component\Ldap\Adapter\ExtLdap\ConnectionOptions" rel="external noopener noreferrer" target="_blank">ConnectionOptions</a>
                    </dd>
    </dl>
<p>For example, to connect to a start-TLS secured LDAP server:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span> = Ldap<span class="hljs-operator">::</span>create(<span class="hljs-string">'ext_ldap'</span>, [
    <span class="hljs-string">'host'</span> =&gt; <span class="hljs-string">'my-server'</span>,
    <span class="hljs-string">'encryption'</span> =&gt; <span class="hljs-string">'ssl'</span>,
]);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Or you could directly specify a connection string:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span> = Ldap<span class="hljs-operator">::</span>create(<span class="hljs-string">'ext_ldap'</span>, [<span class="hljs-string">'connection_string'</span> =&gt; <span class="hljs-string">'ldaps://my-server:636'</span>]);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>The <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Ldap.php#method_bind" class="reference external" title="Symfony\Component\Ldap\Ldap::bind()" rel="external noopener noreferrer" target="_blank">bind()</a> method
authenticates a previously configured connection using both the
distinguished name (DN) and the password of a user:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;
<span class="hljs-comment">// ...</span>

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>bind(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>dn</span>, <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>password</span>);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-caution ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>Caution</span>
    </p><p>When the LDAP server allows unauthenticated binds, a blank password will always be valid.</p>
</div>
<p>Once bound (or if you enabled anonymous authentication on your
LDAP server), you may query the LDAP server using the
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Ldap.php#method_query" class="reference external" title="Symfony\Component\Ldap\Ldap::query()" rel="external noopener noreferrer" target="_blank">query()</a> method:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;
<span class="hljs-comment">// ...</span>

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>query(<span class="hljs-string">'dc=symfony,dc=com'</span>, <span class="hljs-string">'(&amp;(objectclass=person)(ou=Maintainers))'</span>);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>results</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span><span class="hljs-operator">-&gt;</span>execute();

<span class="hljs-keyword">foreach</span> (<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>results</span> <span class="hljs-keyword">as</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span>) {
    <span class="hljs-comment">// Do something with the results</span>
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>By default, LDAP entries are lazy-loaded. If you wish to fetch
all entries in a single call and do something with the results'
array, you may use the
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Adapter/ExtLdap/Collection.php#method_toArray" class="reference external" title="Symfony\Component\Ldap\Adapter\ExtLdap\Collection::toArray()" rel="external noopener noreferrer" target="_blank">toArray()</a> method:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;
<span class="hljs-comment">// ...</span>

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>query(<span class="hljs-string">'dc=symfony,dc=com'</span>, <span class="hljs-string">'(&amp;(objectclass=person)(ou=Maintainers))'</span>);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>results</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span><span class="hljs-operator">-&gt;</span>execute()<span class="hljs-operator">-&gt;</span>toArray();

<span class="hljs-comment">// Do something with the results array</span></pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>By default, LDAP queries use the <code translate="no" class="notranslate">Symfony<wbr>\Component<wbr>\Ldap<wbr>\Adapter<wbr>\QueryInterface::SCOPE_SUB</code>
scope, which corresponds to the <code translate="no" class="notranslate">LDAP_SCOPE_SUBTREE</code> scope of the
<a href="https://secure.php.net/manual/en/function.ldap-search.php" class="reference external" title="ldap_search" rel="external noopener noreferrer" target="_blank">ldap_search</a> function. You can also use <code translate="no" class="notranslate">SCOPE_BASE</code> (related
to the <code translate="no" class="notranslate">LDAP_SCOPE_BASE</code> scope of <a href="https://secure.php.net/manual/en/function.ldap-read.php" class="reference external" title="ldap_read" rel="external noopener noreferrer" target="_blank">ldap_read</a>) and <code translate="no" class="notranslate">SCOPE_ONE</code>
(related to the <code translate="no" class="notranslate">LDAP_SCOPE_ONELEVEL</code> scope of <a href="https://secure.php.net/manual/en/function.ldap-list.php" class="reference external" title="ldap_list" rel="external noopener noreferrer" target="_blank">ldap_list</a>):</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Adapter</span>\<span class="hljs-title">QueryInterface</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>query(<span class="hljs-string">'dc=symfony,dc=com'</span>, <span class="hljs-string">'...'</span>, [<span class="hljs-string">'scope'</span> =&gt; QueryInterface<span class="hljs-operator">::</span>SCOPE_ONE]);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Use the <code translate="no" class="notranslate">filter</code> option to only retrieve some specific attributes:</p>
<blockquote><p>$query = $ldap-&gt;query('dc=symfony,dc=com', '...', ['filter' =&gt; ['cn', 'mail']);</p>
</blockquote>
</div>
<div class="section">
<h2 id="creating-or-updating-entries">
    Creating or Updating Entries
    <a class="headerlink" href="#creating-or-updating-entries" title="Permalink to this headline">¶</a>
</h2>
<p>The Ldap component provides means to create new LDAP entries, update or even
delete existing ones:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Entry</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;
<span class="hljs-comment">// ...</span>

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span> = <span class="hljs-keyword">new</span> Entry(<span class="hljs-string">'cn=Fabien Potencier,dc=symfony,dc=com'</span>, [
    <span class="hljs-string">'sn'</span> =&gt; [<span class="hljs-string">'fabpot'</span>],
    <span class="hljs-string">'objectClass'</span> =&gt; [<span class="hljs-string">'inetOrgPerson'</span>],
]);

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>getEntryManager();

<span class="hljs-comment">// Creating a new entry</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>add(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span>);

<span class="hljs-comment">// Finding and updating an existing entry</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>query(<span class="hljs-string">'dc=symfony,dc=com'</span>, <span class="hljs-string">'(&amp;(objectclass=person)(ou=Maintainers))'</span>);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>result</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>query</span><span class="hljs-operator">-&gt;</span>execute();
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>result</span>[<span class="hljs-number">0</span>];

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>phoneNumber</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span><span class="hljs-operator">-&gt;</span>getAttribute(<span class="hljs-string">'phoneNumber'</span>);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>isContractor</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span><span class="hljs-operator">-&gt;</span>hasAttribute(<span class="hljs-string">'contractorCompany'</span>);
<span class="hljs-comment">// attribute names in getAttribute() and hasAttribute() methods are case-sensitive</span>
<span class="hljs-comment">// pass FALSE as the second method argument to make them case-insensitive</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>isContractor</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span><span class="hljs-operator">-&gt;</span>hasAttribute(<span class="hljs-string">'contractorCompany'</span>, <span class="hljs-keyword">false</span>);

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span><span class="hljs-operator">-&gt;</span>setAttribute(<span class="hljs-string">'email'</span>, [<span class="hljs-string">'fabpot@symfony.com'</span>]);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>update(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span>);

<span class="hljs-comment">// Adding or removing values to a multi-valued attribute is more efficient than using update()</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>addAttributeValues(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span>, <span class="hljs-string">'telephoneNumber'</span>, [<span class="hljs-string">'+1.111.222.3333'</span>, <span class="hljs-string">'+1.222.333.4444'</span>]);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>removeAttributeValues(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span>, <span class="hljs-string">'telephoneNumber'</span>, [<span class="hljs-string">'+1.111.222.3333'</span>, <span class="hljs-string">'+1.222.333.4444'</span>]);

<span class="hljs-comment">// Removing an existing entry</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>remove(<span class="hljs-keyword">new</span> Entry(<span class="hljs-string">'cn=Test User,dc=symfony,dc=com'</span>));</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="section">
<h3 id="batch-updating">
    Batch Updating
    <a class="headerlink" href="#batch-updating" title="Permalink to this headline">¶</a>
</h3>
<p>Use the entry manager's <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php#method_applyOperations" class="reference external" title="Symfony\Component\Ldap\Adapter\ExtLdap\EntryManager::applyOperations()" rel="external noopener noreferrer" target="_blank">applyOperations()</a>
method to update multiple attributes at once:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Entry</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Ldap</span>\<span class="hljs-title">Ldap</span>;
<span class="hljs-comment">// ...</span>

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span> = <span class="hljs-keyword">new</span> Entry(<span class="hljs-string">'cn=Fabien Potencier,dc=symfony,dc=com'</span>, [
    <span class="hljs-string">'sn'</span> =&gt; [<span class="hljs-string">'fabpot'</span>],
    <span class="hljs-string">'objectClass'</span> =&gt; [<span class="hljs-string">'inetOrgPerson'</span>],
]);

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>ldap</span><span class="hljs-operator">-&gt;</span>getEntryManager();

<span class="hljs-comment">// Adding multiple email addresses at once</span>
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entryManager</span><span class="hljs-operator">-&gt;</span>applyOperations(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>entry</span><span class="hljs-operator">-&gt;</span>getDn(), [
    <span class="hljs-keyword">new</span> UpdateOperation(LDAP_MODIFY_BATCH_ADD, <span class="hljs-string">'mail'</span>, <span class="hljs-string">'new1@example.com'</span>),
    <span class="hljs-keyword">new</span> UpdateOperation(LDAP_MODIFY_BATCH_ADD, <span class="hljs-string">'mail'</span>, <span class="hljs-string">'new2@example.com'</span>),
]);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Possible operation types are <code translate="no" class="notranslate">LDAP_MODIFY_BATCH_ADD</code>, <code translate="no" class="notranslate">LDAP_MODIFY_BATCH_REMOVE</code>,
<code translate="no" class="notranslate">LDAP_MODIFY_BATCH_REMOVE_ALL</code>, <code translate="no" class="notranslate">LDAP_MODIFY_BATCH_REPLACE</code>. Parameter
<code translate="no" class="notranslate">$values</code> must be <code translate="no" class="notranslate">NULL</code> when using <code translate="no" class="notranslate">LDAP_MODIFY_BATCH_REMOVE_ALL</code>
operation type.</p>
</div>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>