        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="the-messenger-component">
    The Messenger Component
    <a class="headerlink" href="#the-messenger-component" title="Permalink to this headline">¶</a>
</h1>
<blockquote><p>The Messenger component helps applications send and receive messages to/from
other applications or via message queues.</p>
<p>The component is greatly inspired by Matthias Noback's series of
<a href="https://matthiasnoback.nl/tags/command%20bus/" class="reference external" rel="external noopener noreferrer" target="_blank">blog posts about command buses</a> and the <a href="https://docs.simplebus.io/en/latest/" class="reference external" rel="external noopener noreferrer" target="_blank">SimpleBus project</a>.</p>
</blockquote>
<div class="admonition admonition-seealso ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /></svg>
                <span>See also</span>
    </p><p>This article explains how to use the Messenger features as an independent
component in any PHP application. Read the <a href="../messenger.html" class="reference internal">Messenger: Sync &amp; Queued Message Handling</a> article to
learn about how to use it in Symfony applications.</p>
</div>
<div class="section">
<h2 id="installation">
    Installation
    <a class="headerlink" href="#installation" title="Permalink to this headline">¶</a>
</h2>
<div translate="no" class="highlight-terminal highlight-bash notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs terminal bash"><span class="hljs-prompt">$ </span>composer require symfony/messenger</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>If you install this component outside of a Symfony application, you must
require the <code translate="no" class="notranslate">vendor/autoload.php</code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a href="using_components.html" class="reference internal">this article</a> for more details.</p>
</div>
</div>
<div class="section">
<h2 id="concepts">
    Concepts
    <a class="headerlink" href="#concepts" title="Permalink to this headline">¶</a>
</h2>
<object data="../_images/components/messenger/overview.svg" type="image/svg+xml"></object>
<dl>
                        <dt><strong>Sender</strong>:</dt>
        
        <dd>
                            Responsible for serializing and sending messages to <em>something</em>. This
something can be a message broker or a third party API for example.
                    </dd>
                        <dt><strong>Receiver</strong>:</dt>
        
        <dd>
                            Responsible for retrieving, deserializing and forwarding messages to handler(s).
This can be a message queue puller or an API endpoint for example.
                    </dd>
                        <dt><strong>Handler</strong>:</dt>
        
        <dd>
                            Responsible for handling messages using the business logic applicable to the messages.
Handlers are called by the <code translate="no" class="notranslate">HandleMessageMiddleware</code> middleware.
                    </dd>
                        <dt><strong>Middleware</strong>:</dt>
        
        <dd>
                            Middleware can access the message and its wrapper (the envelope) while it is
dispatched through the bus.
Literally <em>&quot;the software in the middle&quot;</em>, those are not about core concerns
(business logic) of an application. Instead, they are cross cutting concerns
applicable throughout the application and affecting the entire message bus.
For instance: logging, validating a message, starting a transaction, ...
They are also responsible for calling the next middleware in the chain,
which means they can tweak the envelope, by adding stamps to it or even
replacing it, as well as interrupt the middleware chain. Middleware are called
both when a message is originally dispatched and again later when a message
is received from a transport.
                    </dd>
                        <dt><strong>Envelope</strong>:</dt>
        
        <dd>
                            Messenger specific concept, it gives full flexibility inside the message bus,
by wrapping the messages into it, allowing to add useful information inside
through <em>envelope stamps</em>.
                    </dd>
                        <dt><strong>Envelope Stamps</strong>:</dt>
        
        <dd>
                            Piece of information you need to attach to your message: serializer context
to use for transport, markers identifying a received message or any sort of
metadata your middleware or transport layer may use.
                    </dd>
    </dl>
</div>
<div class="section">
<h2 id="bus">
    Bus
    <a class="headerlink" href="#bus" title="Permalink to this headline">¶</a>
</h2>
<p>The bus is used to dispatch messages. The behavior of the bus is in its ordered
middleware stack. The component comes with a set of middleware that you can use.</p>
<p>When using the message bus with Symfony's FrameworkBundle, the following middleware
are configured for you:</p>
<ol class="arabic">
    <li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php" class="reference external" title="Symfony\Component\Messenger\Middleware\SendMessageMiddleware" rel="external noopener noreferrer" target="_blank">SendMessageMiddleware</a> (enables asynchronous processing, logs the processing of your messages if you provide a logger)</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php" class="reference external" title="Symfony\Component\Messenger\Middleware\HandleMessageMiddleware" rel="external noopener noreferrer" target="_blank">HandleMessageMiddleware</a> (calls the registered handler(s))</li>
</ol>
<p>Example:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">Message</span>\<span class="hljs-title">MyMessage</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">MessageHandler</span>\<span class="hljs-title">MyMessageHandler</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Handler</span>\<span class="hljs-title">HandlersLocator</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">MessageBus</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Middleware</span>\<span class="hljs-title">HandleMessageMiddleware</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>handler</span> = <span class="hljs-keyword">new</span> MyMessageHandler();

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>bus</span> = <span class="hljs-keyword">new</span> MessageBus([
    <span class="hljs-keyword">new</span> HandleMessageMiddleware(<span class="hljs-keyword">new</span> HandlersLocator([
        MyMessage<span class="hljs-operator">::</span>class =&gt; [<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>handler</span>],
    ])),
]);

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>bus</span><span class="hljs-operator">-&gt;</span>dispatch(<span class="hljs-keyword">new</span> MyMessage(<span class="hljs-comment">/* ... */</span>));</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>Every middleware needs to implement the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Middleware/MiddlewareInterface.php" class="reference external" title="Symfony\Component\Messenger\Middleware\MiddlewareInterface" rel="external noopener noreferrer" target="_blank">MiddlewareInterface</a>.</p>
</div>
</div>
<div class="section">
<h2 id="handlers">
    Handlers
    <a class="headerlink" href="#handlers" title="Permalink to this headline">¶</a>
</h2>
<p>Once dispatched to the bus, messages will be handled by a &quot;message handler&quot;. A
message handler is a PHP callable (i.e. a function or an instance of a class)
that will do the required processing for your message:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">namespace</span> <span class="hljs-title">App</span>\<span class="hljs-title">MessageHandler</span>;

<span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">Message</span>\<span class="hljs-title">MyMessage</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">MyMessageHandler</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__invoke</span><span class="hljs-params">(MyMessage <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>message</span>)</span>
    </span>{
        <span class="hljs-comment">// Message processing...</span>
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<span id="messenger-envelopes"></span>
</div>
<div class="section">
<h2 id="adding-metadata-to-messages-envelopes">
    Adding Metadata to Messages (Envelopes)
    <a class="headerlink" href="#adding-metadata-to-messages-envelopes" title="Permalink to this headline">¶</a>
</h2>
<p>If you need to add metadata or some configuration to a message, wrap it with the
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Envelope.php" class="reference external" title="Symfony\Component\Messenger\Envelope" rel="external noopener noreferrer" target="_blank">Envelope</a> class and add stamps.
For example, to set the serialization groups used when the message goes
through the transport layer, use the <code translate="no" class="notranslate">SerializerStamp</code> stamp:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Envelope</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Stamp</span>\<span class="hljs-title">SerializerStamp</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>bus</span><span class="hljs-operator">-&gt;</span>dispatch(
    (<span class="hljs-keyword">new</span> Envelope(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>message</span>))<span class="hljs-operator">-&gt;</span>with(<span class="hljs-keyword">new</span> SerializerStamp([
        <span class="hljs-comment">// groups are applied to the whole message, so make sure</span>
        <span class="hljs-comment">// to define the group for every embedded object</span>
        <span class="hljs-string">'groups'</span> =&gt; [<span class="hljs-string">'my_serialization_groups'</span>],
    ]))
);</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Here are some important envelope stamps that are shipped with the Symfony Messenger:</p>
<ol class="arabic">
    <li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/DelayStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\DelayStamp" rel="external noopener noreferrer" target="_blank">DelayStamp</a>,
to delay handling of an asynchronous message.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/DispatchAfterCurrentBusStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\DispatchAfterCurrentBusStamp" rel="external noopener noreferrer" target="_blank">DispatchAfterCurrentBusStamp</a>,
to make the message be handled after the current bus has executed. Read more
at <a href="../messenger/dispatch_after_current_bus.html" class="reference internal">Transactional Messages: Handle New Messages After Handling is Done</a>.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/HandledStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\HandledStamp" rel="external noopener noreferrer" target="_blank">HandledStamp</a>,
a stamp that marks the message as handled by a specific handler.
Allows accessing the handler returned value and the handler name.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/ReceivedStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\ReceivedStamp" rel="external noopener noreferrer" target="_blank">ReceivedStamp</a>,
an internal stamp that marks the message as received from a transport.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/SentStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\SentStamp" rel="external noopener noreferrer" target="_blank">SentStamp</a>,
a stamp that marks the message as sent by a specific sender.
Allows accessing the sender FQCN and the alias if available from the
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Transport/Sender/SendersLocator.php" class="reference external" title="Symfony\Component\Messenger\Transport\Sender\SendersLocator" rel="external noopener noreferrer" target="_blank">SendersLocator</a>.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/SerializerStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\SerializerStamp" rel="external noopener noreferrer" target="_blank">SerializerStamp</a>,
to configure the serialization groups used by the transport.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/ValidationStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\ValidationStamp" rel="external noopener noreferrer" target="_blank">ValidationStamp</a>,
to configure the validation groups used when the validation middleware is enabled.</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/ErrorDetailsStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\ErrorDetailsStamp" rel="external noopener noreferrer" target="_blank">ErrorDetailsStamp</a>,
an internal stamp when a message fails due to an exception in the handler.</li>
</ol>
<p>Instead of dealing directly with the messages in the middleware you receive the envelope.
Hence you can inspect the envelope content and its stamps, or add any:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">Message</span>\<span class="hljs-title">Stamp</span>\<span class="hljs-title">AnotherStamp</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Envelope</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Middleware</span>\<span class="hljs-title">MiddlewareInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Middleware</span>\<span class="hljs-title">StackInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Stamp</span>\<span class="hljs-title">ReceivedStamp</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">MyOwnMiddleware</span> <span class="hljs-keyword">implements</span> <span class="hljs-title">MiddlewareInterface</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handle</span><span class="hljs-params">(Envelope <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>, StackInterface <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>stack</span>)</span>: <span class="hljs-title">Envelope</span>
    </span>{
        <span class="hljs-keyword">if</span> (<span class="hljs-keyword">null</span> !== <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span><span class="hljs-operator">-&gt;</span>last(ReceivedStamp<span class="hljs-operator">::</span>class)) {
            <span class="hljs-comment">// Message just has been received...</span>

            <span class="hljs-comment">// You could for example add another stamp.</span>
            <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span><span class="hljs-operator">-&gt;</span>with(<span class="hljs-keyword">new</span> AnotherStamp(<span class="hljs-comment">/* ... */</span>));
        } <span class="hljs-keyword">else</span> {
            <span class="hljs-comment">// Message was just originally dispatched</span>
        }

        <span class="hljs-keyword">return</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>stack</span><span class="hljs-operator">-&gt;</span>next()<span class="hljs-operator">-&gt;</span>handle(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>, <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>stack</span>);
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>The above example will forward the message to the next middleware with an
additional stamp <em>if</em> the message has just been received (i.e. has at least one
<code translate="no" class="notranslate">ReceivedStamp</code> stamp). You can create your own stamps by implementing
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/StampInterface.php" class="reference external" title="Symfony\Component\Messenger\Stamp\StampInterface" rel="external noopener noreferrer" target="_blank">StampInterface</a>.</p>
<p>If you want to examine all stamps on an envelope, use the <code translate="no" class="notranslate">$envelope-&gt;all()</code>
method, which returns all stamps grouped by type (FQCN). Alternatively, you can
iterate through all stamps of a specific type by using the FQCN as first
parameter of this method (e.g. <code translate="no" class="notranslate">$envelope-&gt;all(ReceivedStamp::class)</code>).</p>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>Any stamp must be serializable using the Symfony Serializer component
if going through transport using the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php" class="reference external" title="Symfony\Component\Messenger\Transport\Serialization\Serializer" rel="external noopener noreferrer" target="_blank">Serializer</a>
base serializer.</p>
</div>
</div>
<div class="section">
<h2 id="transports">
    Transports
    <a class="headerlink" href="#transports" title="Permalink to this headline">¶</a>
</h2>
<p>In order to send and receive messages, you will have to configure a transport. A
transport will be responsible for communicating with your message broker or 3rd parties.</p>
<div class="section">
<h3 id="your-own-sender">
    Your own Sender
    <a class="headerlink" href="#your-own-sender" title="Permalink to this headline">¶</a>
</h3>
<p>Imagine that you already have an <code translate="no" class="notranslate">ImportantAction</code> message going through the
message bus and being handled by a handler. Now, you also want to send this
message as an email (using the <a href="mime.html" class="reference internal">Mime</a> and
<a href="../mailer.html" class="reference internal">Mailer</a> components).</p>
<p>Using the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Transport/Sender/SenderInterface.php" class="reference external" title="Symfony\Component\Messenger\Transport\Sender\SenderInterface" rel="external noopener noreferrer" target="_blank">SenderInterface</a>,
you can create your own message sender:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">namespace</span> <span class="hljs-title">App</span>\<span class="hljs-title">MessageSender</span>;

<span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">Message</span>\<span class="hljs-title">ImportantAction</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Mailer</span>\<span class="hljs-title">MailerInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Envelope</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Transport</span>\<span class="hljs-title">Sender</span>\<span class="hljs-title">SenderInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Mime</span>\<span class="hljs-title">Email</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">ImportantActionToEmailSender</span> <span class="hljs-keyword">implements</span> <span class="hljs-title">SenderInterface</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__construct</span><span class="hljs-params">(
        private MailerInterface <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>mailer</span>,
        private string <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>toEmail</span>,
    )</span> </span>{
    }

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">send</span><span class="hljs-params">(Envelope <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>)</span>: <span class="hljs-title">Envelope</span>
    </span>{
        <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>message</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span><span class="hljs-operator">-&gt;</span>getMessage();

        <span class="hljs-keyword">if</span> (!<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>message</span> <span class="hljs-keyword">instanceof</span> ImportantAction) {
            <span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> \InvalidArgumentException(sprintf(<span class="hljs-string">'This transport only supports "%s" messages.'</span>, ImportantAction<span class="hljs-operator">::</span>class));
        }

        <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>mailer<span class="hljs-operator">-&gt;</span>send(
            (<span class="hljs-keyword">new</span> Email())
                <span class="hljs-operator">-&gt;</span>to(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>toEmail)
                <span class="hljs-operator">-&gt;</span>subject(<span class="hljs-string">'Important action made'</span>)
                <span class="hljs-operator">-&gt;</span>html(<span class="hljs-string">'&lt;h1&gt;Important action&lt;/h1&gt;&lt;p&gt;Made by '</span>.<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>message</span><span class="hljs-operator">-&gt;</span>getUsername().<span class="hljs-string">'&lt;/p&gt;'</span>)
        );

        <span class="hljs-keyword">return</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>;
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="section">
<h3 id="your-own-receiver">
    Your own Receiver
    <a class="headerlink" href="#your-own-receiver" title="Permalink to this headline">¶</a>
</h3>
<p>A receiver is responsible for getting messages from a source and dispatching
them to the application.</p>
<p>Imagine you already processed some &quot;orders&quot; in your application using a
<code translate="no" class="notranslate">NewOrder</code> message. Now you want to integrate with a 3rd party or a legacy
application but you can't use an API and need to use a shared CSV file with new
orders.</p>
<p>You will read this CSV file and dispatch a <code translate="no" class="notranslate">NewOrder</code> message. All you need to
do is to write your own CSV receiver:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">namespace</span> <span class="hljs-title">App</span>\<span class="hljs-title">MessageReceiver</span>;

<span class="hljs-keyword">use</span> <span class="hljs-title">App</span>\<span class="hljs-title">Message</span>\<span class="hljs-title">NewOrder</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Envelope</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Exception</span>\<span class="hljs-title">MessageDecodingFailedException</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Messenger</span>\<span class="hljs-title">Transport</span>\<span class="hljs-title">Receiver</span>\<span class="hljs-title">ReceiverInterface</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Serializer</span>\<span class="hljs-title">SerializerInterface</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">NewOrdersFromCsvFileReceiver</span> <span class="hljs-keyword">implements</span> <span class="hljs-title">ReceiverInterface</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__construct</span><span class="hljs-params">(
        private SerializerInterface <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>serializer</span>,
        private string <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>filePath</span>,
    )</span> </span>{
    }

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">get</span><span class="hljs-params">()</span>: <span class="hljs-title">iterable</span>
    </span>{
        <span class="hljs-comment">// Receive the envelope according to your transport ($yourEnvelope here),</span>
        <span class="hljs-comment">// in most cases, using a connection is the easiest solution.</span>
        <span class="hljs-keyword">if</span> (<span class="hljs-keyword">null</span> === <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>yourEnvelope</span>) {
            <span class="hljs-keyword">return</span> [];
        }

        <span class="hljs-keyword">try</span> {
            <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>serializer<span class="hljs-operator">-&gt;</span>decode([
                <span class="hljs-string">'body'</span> =&gt; <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>yourEnvelope</span>[<span class="hljs-string">'body'</span>],
                <span class="hljs-string">'headers'</span> =&gt; <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>yourEnvelope</span>[<span class="hljs-string">'headers'</span>],
            ]);
        } <span class="hljs-keyword">catch</span> (MessageDecodingFailedException <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>exception</span>) {
            <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>connection<span class="hljs-operator">-&gt;</span>reject(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>yourEnvelope</span>[<span class="hljs-string">'id'</span>]);
            <span class="hljs-keyword">throw</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>exception</span>;
        }

        <span class="hljs-keyword">return</span> [<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span><span class="hljs-operator">-&gt;</span>with(<span class="hljs-keyword">new</span> CustomStamp(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>yourEnvelope</span>[<span class="hljs-string">'id'</span>]))];
    }

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">ack</span><span class="hljs-params">(Envelope <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>)</span>: <span class="hljs-title">void</span>
    </span>{
        <span class="hljs-comment">// Add information about the handled message</span>
    }

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">reject</span><span class="hljs-params">(Envelope <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>)</span>: <span class="hljs-title">void</span>
    </span>{
        <span class="hljs-comment">// In the case of a custom connection</span>
        <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>connection<span class="hljs-operator">-&gt;</span>reject(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>this</span><span class="hljs-operator">-&gt;</span>findCustomStamp(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>envelope</span>)<span class="hljs-operator">-&gt;</span>getId());
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="section">
<h3 id="receiver-and-sender-on-the-same-bus">
    Receiver and Sender on the same Bus
    <a class="headerlink" href="#receiver-and-sender-on-the-same-bus" title="Permalink to this headline">¶</a>
</h3>
<p>To allow sending and receiving messages on the same bus and prevent an infinite
loop, the message bus will add a <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Stamp/ReceivedStamp.php" class="reference external" title="Symfony\Component\Messenger\Stamp\ReceivedStamp" rel="external noopener noreferrer" target="_blank">ReceivedStamp</a>
stamp to the message envelopes and the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Middleware/SendMessageMiddleware.php" class="reference external" title="Symfony\Component\Messenger\Middleware\SendMessageMiddleware" rel="external noopener noreferrer" target="_blank">SendMessageMiddleware</a>
middleware will know it should not route these messages again to a transport.</p>
</div>
</div>
<div class="section">
<h2 id="learn-more">
    Learn more
    <a class="headerlink" href="#learn-more" title="Permalink to this headline">¶</a>
</h2>
<div class="toctree-wrapper toc-size-md"><ul class="toctree toctree-level-1 toctree-length-5"><li><a href="../messenger.html">Messenger: Sync & Queued Message Handling</a></li><li><a href="../messenger/custom-transport.html">How to Create Your own Messenger Transport</a></li><li><a href="../messenger/dispatch_after_current_bus.html">Transactional Messages: Handle New Messages After Handling is Done</a></li><li><a href="../messenger/handler_results.html">Getting Results from your Handler</a></li><li><a href="../messenger/multiple_buses.html">Multiple Buses</a></li></ul></div>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>