        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <span id="how-to-install-and-use-the-symfony2-components"></span>
<div class="section">
<h1 id="how-to-install-and-use-the-symfony-components">
    How to Install and Use the Symfony Components
    <a class="headerlink" href="#how-to-install-and-use-the-symfony-components" title="Permalink to this headline">¶</a>
</h1>
<p>If you're starting a new project (or already have a project) that will use
one or more components, the easiest way to integrate everything is with <a href="https://getcomposer.org" class="reference external" rel="external noopener noreferrer" target="_blank">Composer</a>.
Composer is smart enough to download the component(s) that you need and take
care of autoloading so that you can begin using the libraries immediately.</p>
<p>This article will take you through using <a href="finder.html" class="reference internal">The Finder Component</a>, though
this applies to using any component.</p>
<div class="section">
<h2 id="using-the-finder-component">
    Using the Finder Component
    <a class="headerlink" href="#using-the-finder-component" title="Permalink to this headline">¶</a>
</h2>
<p><strong>1.</strong> If you're creating a new project, create a new empty directory for it.</p>
<p><strong>2.</strong> Open a terminal, step into this directory and use Composer to grab the library.</p>
<div translate="no" class="highlight-terminal highlight-bash notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs terminal bash"><span class="hljs-prompt">$ </span>composer require symfony/finder</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>The name <code translate="no" class="notranslate">symfony/finder</code> is written at the top of the documentation for
whatever component you want.</p>
<div class="admonition admonition-tip ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" /></svg>
                <span>Tip</span>
    </p><p><a href="https://getcomposer.org/download/" class="reference external" rel="external noopener noreferrer" target="_blank">Install Composer</a> if you don't have it already present on your system.
Depending on how you install, you may end up with a <code translate="no" class="notranslate">composer.phar</code>
file in your directory. In that case, no worries! Your command line in that
case is <code translate="no" class="notranslate">php composer.phar require symfony/finder</code>.</p>
</div>
<p><strong>3.</strong> Write your code!</p>
<p>Once Composer has downloaded the component(s), all you need to do is include
the <code translate="no" class="notranslate">vendor/autoload.php</code> file that was generated by Composer. This file
takes care of autoloading all of the libraries so that you can use them
immediately:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-comment">// Project structure example:</span>
<span class="hljs-comment">// my_project/</span>
<span class="hljs-comment">//     data/</span>
<span class="hljs-comment">//         ...              # Some project data</span>
<span class="hljs-comment">//     src/</span>
<span class="hljs-comment">//         my_script.php    # Main entry point</span>
<span class="hljs-comment">//     vendor/</span>
<span class="hljs-comment">//         autoload.php     # Autoloader generated by Composer</span>
<span class="hljs-comment">//         ...              # Packages downloaded by Composer</span>

<span class="hljs-comment">// File example: src/my_script.php</span>
<span class="hljs-comment">// Autoloader relative path to this PHP file</span>
<span class="hljs-keyword">require_once</span> <span class="hljs-keyword">__DIR__</span>.<span class="hljs-string">'/../vendor/autoload.php'</span>;

<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Finder</span>\<span class="hljs-title">Finder</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>finder</span> = <span class="hljs-keyword">new</span> Finder();
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>finder</span><span class="hljs-operator">-&gt;</span>in(<span class="hljs-string">'../data/'</span>);

<span class="hljs-comment">// rest of your PHP code...</span></pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="section">
<h2 id="now-what">
    Now what?
    <a class="headerlink" href="#now-what" title="Permalink to this headline">¶</a>
</h2>
<p>Now, the component is installed and autoloaded. Read the specific component's
documentation to find out more about how to use it.</p>
<p>And have fun!</p>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>