        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="the-validator-component">
    The Validator Component
    <a class="headerlink" href="#the-validator-component" title="Permalink to this headline">¶</a>
</h1>
<blockquote><p>The Validator component provides tools to validate values following the
<a href="https://jcp.org/en/jsr/detail?id=303" class="reference external" rel="external noopener noreferrer" target="_blank">JSR-303 Bean Validation specification</a>.</p>
</blockquote>
<div class="section">
<h2 id="installation">
    Installation
    <a class="headerlink" href="#installation" title="Permalink to this headline">¶</a>
</h2>
<div translate="no" class="highlight-terminal highlight-bash notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs terminal bash"><span class="hljs-prompt">$ </span>composer require symfony/validator</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="admonition admonition-note ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                <span>Note</span>
    </p><p>If you install this component outside of a Symfony application, you must
require the <code translate="no" class="notranslate">vendor/autoload.php</code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a href="using_components.html" class="reference internal">this article</a> for more details.</p>
</div>
</div>
<div class="section">
<h2 id="usage">
    Usage
    <a class="headerlink" href="#usage" title="Permalink to this headline">¶</a>
</h2>
<div class="admonition admonition-seealso ">
    <p class="admonition-title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" /></svg>
                <span>See also</span>
    </p><p>This article explains how to use the Validator features as an independent
component in any PHP application. Read the <a href="../validation.html" class="reference internal">Validation</a> article to
learn about how to validate data and entities in Symfony applications.</p>
</div>
<p>The Validator component behavior is based on two concepts:</p>
<ul>
    <li>Constraints, which define the rules to be validated;</li>
<li>Validators, which are the classes that contain the actual validation logic.</li>
</ul>
<p>The following example shows how to validate that a string is at least 10
characters long:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Validator</span>\<span class="hljs-title">Constraints</span>\<span class="hljs-title">Length</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Validator</span>\<span class="hljs-title">Constraints</span>\<span class="hljs-title">NotBlank</span>;
<span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Validator</span>\<span class="hljs-title">Validation</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>validator</span> = Validation<span class="hljs-operator">::</span>createValidator();
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violations</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>validator</span><span class="hljs-operator">-&gt;</span>validate(<span class="hljs-string">'Bernhard'</span>, [
    <span class="hljs-keyword">new</span> Length([<span class="hljs-string">'min'</span> =&gt; <span class="hljs-number">10</span>]),
    <span class="hljs-keyword">new</span> NotBlank(),
]);

<span class="hljs-keyword">if</span> (<span class="hljs-number">0</span> !== count(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violations</span>)) {
    <span class="hljs-comment">// there are errors, now you can show them</span>
    <span class="hljs-keyword">foreach</span> (<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violations</span> <span class="hljs-keyword">as</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violation</span>) {
        <span class="hljs-keyword">echo</span> <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violation</span><span class="hljs-operator">-&gt;</span>getMessage().<span class="hljs-string">'&lt;br&gt;'</span>;
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>The  <code translate="no" class="notranslate">validate()</code> method returns the list of violations as an object that
implements <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Validator/ConstraintViolationListInterface.php" class="reference external" title="Symfony\Component\Validator\ConstraintViolationListInterface" rel="external noopener noreferrer" target="_blank">ConstraintViolationListInterface</a>.
If you have lots of validation errors, you can filter them by error code:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Bridge</span>\<span class="hljs-title">Doctrine</span>\<span class="hljs-title">Validator</span>\<span class="hljs-title">Constraints</span>\<span class="hljs-title">UniqueEntity</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violations</span> = <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>validator</span><span class="hljs-operator">-&gt;</span>validate(<span class="hljs-comment">/* ... */</span>);
<span class="hljs-keyword">if</span> (<span class="hljs-number">0</span> !== count(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>violations</span><span class="hljs-operator">-&gt;</span>findByCodes(UniqueEntity<span class="hljs-operator">::</span>NOT_UNIQUE_ERROR))) {
    <span class="hljs-comment">// handle this specific error (display some message, send an email, etc.)</span>
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="section">
<h2 id="retrieving-a-validator-instance">
    Retrieving a Validator Instance
    <a class="headerlink" href="#retrieving-a-validator-instance" title="Permalink to this headline">¶</a>
</h2>
<p>The Validator object (that implements <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Validator/Validator/ValidatorInterface.php" class="reference external" title="Symfony\Component\Validator\Validator\ValidatorInterface" rel="external noopener noreferrer" target="_blank">ValidatorInterface</a>) is the main access
point of the Validator component. To create a new instance of it, it's
recommended to use the <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Validator/Validation.php" class="reference external" title="Symfony\Component\Validator\Validation" rel="external noopener noreferrer" target="_blank">Validation</a> class:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">Validator</span>\<span class="hljs-title">Validation</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>validator</span> = Validation<span class="hljs-operator">::</span>createValidator();</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>This <code translate="no" class="notranslate">$validator</code> object can validate simple variables such as strings, numbers
and arrays, but it can't validate objects. To do so, configure the
<code translate="no" class="notranslate">Validator</code> as explained in the next sections.</p>
</div>
<div class="section">
<h2 id="learn-more">
    Learn More
    <a class="headerlink" href="#learn-more" title="Permalink to this headline">¶</a>
</h2>
<div class="toctree-wrapper toc-size-md"><ul class="toctree toctree-level-1 toctree-length-9"><li><a href="../components/validator/metadata.html">Metadata</a></li><li><a href="../components/validator/resources.html">Loading Resources</a></li><li><a href="../validation.html">Validation</a></li><li><a href="../validation/custom_constraint.html">How to Create a Custom Validation Constraint</a></li><li><a href="../validation/groups.html">How to Apply only a Subset of all Your Validation Constraints (Validation Groups)</a></li><li><a href="../validation/raw_values.html">How to Validate Raw Values (Scalar Values and Arrays)</a></li><li><a href="../validation/sequence_provider.html">How to Sequentially Apply Validation Groups</a></li><li><a href="../validation/severity.html">How to Handle Different Error Levels</a></li><li><a href="../validation/translations.html">How to Translate Validation Constraint Messages</a></li></ul></div>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>