        
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head><base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                                
    
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/badge_only.css" type="text/css" />

</head>

<body class="wy-body-for-nav">
 <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                
                                                                                                    
                                                                                                                                                                        </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                                                                                                                                                                                                                                                                                                                            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                                                        

        <div class="wy-nav-content">                <div class="rst-content">
                                        <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">                            <div itemprop="articleBody">
                                    <div class="section">
<h1 id="the-generic-event-object">
    The Generic Event Object
    <a class="headerlink" href="#the-generic-event-object" title="Permalink to this headline">¶</a>
</h1>
<p>The base <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Contracts/EventDispatcher/Event.php" class="reference external" title="Symfony\Contracts\EventDispatcher\Event" rel="external noopener noreferrer" target="_blank">Event</a> class provided
by the EventDispatcher component is deliberately sparse to allow the creation
of API specific event objects by inheritance using OOP. This allows for
elegant and readable code in complex applications.</p>
<p>The <a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent" rel="external noopener noreferrer" target="_blank">GenericEvent</a> is available
for convenience for those who wish to use just one event object throughout
their application. It is suitable for most purposes straight out of the
box, because it follows the standard observer pattern where the event object
encapsulates an event 'subject', but has the addition of optional extra
arguments.</p>
<p><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent" rel="external noopener noreferrer" target="_blank">GenericEvent</a> adds some more
methods in addition to the base class
<a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Contracts/EventDispatcher/Event.php" class="reference external" title="Symfony\Contracts\EventDispatcher\Event" rel="external noopener noreferrer" target="_blank">Event</a></p>
<ul>
    <li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method___construct" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::__construct()" rel="external noopener noreferrer" target="_blank">__construct()</a>:
Constructor takes the event subject and any arguments;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_getSubject" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::getSubject()" rel="external noopener noreferrer" target="_blank">getSubject()</a>:
Get the subject;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_setArgument" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::setArgument()" rel="external noopener noreferrer" target="_blank">setArgument()</a>:
Sets an argument by key;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_setArguments" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::setArguments()" rel="external noopener noreferrer" target="_blank">setArguments()</a>:
Sets arguments array;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_getArgument" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::getArgument()" rel="external noopener noreferrer" target="_blank">getArgument()</a>:
Gets an argument by key;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_getArguments" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::getArguments()" rel="external noopener noreferrer" target="_blank">getArguments()</a>:
Getter for all arguments;</li>
<li><a href="https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/EventDispatcher/GenericEvent.php#method_hasArgument" class="reference external" title="Symfony\Component\EventDispatcher\GenericEvent::hasArgument()" rel="external noopener noreferrer" target="_blank">hasArgument()</a>:
Returns true if the argument key exists;</li>
</ul>
<p>The <code translate="no" class="notranslate">GenericEvent</code> also implements <a href="https://secure.php.net/manual/en/class.arrayaccess.php" class="reference external" title="ArrayAccess" rel="external noopener noreferrer" target="_blank">ArrayAccess</a> on the event
arguments which makes it very convenient to pass extra arguments regarding
the event subject.</p>
<p>The following examples show use-cases to give a general idea of the flexibility.
The examples assume event listeners have been added to the dispatcher.</p>
<p>Passing a subject:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">EventDispatcher</span>\<span class="hljs-title">GenericEvent</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span> = <span class="hljs-keyword">new</span> GenericEvent(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>subject</span>);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>dispatcher</span><span class="hljs-operator">-&gt;</span>dispatch(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>, <span class="hljs-string">'foo'</span>);

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">FooListener</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handler</span><span class="hljs-params">(GenericEvent <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>)</span>
    </span>{
        <span class="hljs-keyword">if</span> (<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span><span class="hljs-operator">-&gt;</span>getSubject() <span class="hljs-keyword">instanceof</span> Foo) {
            <span class="hljs-comment">// ...</span>
        }
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Passing and processing arguments using the <a href="https://secure.php.net/manual/en/class.arrayaccess.php" class="reference external" title="ArrayAccess" rel="external noopener noreferrer" target="_blank">ArrayAccess</a> API to
access the event arguments:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">EventDispatcher</span>\<span class="hljs-title">GenericEvent</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span> = <span class="hljs-keyword">new</span> GenericEvent(
    <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>subject</span>,
    [<span class="hljs-string">'type'</span> =&gt; <span class="hljs-string">'foo'</span>, <span class="hljs-string">'counter'</span> =&gt; <span class="hljs-number">0</span>]
);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>dispatcher</span><span class="hljs-operator">-&gt;</span>dispatch(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>, <span class="hljs-string">'foo'</span>);

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">FooListener</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handler</span><span class="hljs-params">(GenericEvent <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>)</span>
    </span>{
        <span class="hljs-keyword">if</span> (<span class="hljs-keyword">isset</span>(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>[<span class="hljs-string">'type'</span>]) &amp;&amp; <span class="hljs-string">'foo'</span> === <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>[<span class="hljs-string">'type'</span>]) {
            <span class="hljs-comment">// ... do something</span>
        }

        <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>[<span class="hljs-string">'counter'</span>]++;
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Filtering data:</p>
<div translate="no" class="highlight-php notranslate">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>1
2
3
4
5
6
7
8
9
10
11
12</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs php"><span class="hljs-keyword">use</span> <span class="hljs-title">Symfony</span>\<span class="hljs-title">Component</span>\<span class="hljs-title">EventDispatcher</span>\<span class="hljs-title">GenericEvent</span>;

<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span> = <span class="hljs-keyword">new</span> GenericEvent(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>subject</span>, [<span class="hljs-string">'data'</span> =&gt; <span class="hljs-string">'Foo'</span>]);
<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>dispatcher</span><span class="hljs-operator">-&gt;</span>dispatch(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>, <span class="hljs-string">'foo'</span>);

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">FooListener</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">filter</span><span class="hljs-params">(GenericEvent <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>)</span>
    </span>{
        <span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>[<span class="hljs-string">'data'</span>] = strtolower(<span class="hljs-variable"><span class="hljs-variable-other-marker">$</span>event</span>[<span class="hljs-string">'data'</span>]);
    }
}</pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

                            </div>                    </div>
                                    </div>        </div>

    </section>

</div>


<script type="text/javascript" src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/badge_only.js"></script>

 
</body>
</html>